.search__input {
  display: flex;
  align-items: center;
  border: 0.1vmax solid lightgray;
  height: 2max;
  padding: 0.5vmax 1vmax;
  border-radius: 2vmax;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 560px;
}

.search__input > input {
  margin: 0 auto;
  flex: 1;
  padding: 0.5vmax 1vmax;
  font-size: medium;
  border: none;
}

.search__input > input:focus {
  outline-width: 0;
}

.search__inputIcon {
  color: gray;
}

.search__buttons {
  margin-top: 1vmax;
  display: flex;
  justify-content: center;
}

.search__buttons button {
  cursor: pointer;
  margin: 0.5vmax;
  padding: 0.7vmax 1.2vmax;
  background-color: #f8f8f8;
  border: 0.2vmax solid white;
  text-transform: inherit;
  color: #5f6368;
}

.search__buttons button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

/* .search__buttonsHidden {
  display: none !important;
} */
